.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    color: white;
}

.item i {
    font-size: 1.5rem;
}
@media (max-width: 360px) {
    .item i {
        font-size: 1.2rem;
    }

    .item span {
        font-size: 0.8rem;
    }
}
body{background-color: rgb(236, 253, 2);}