body{
    background-image: url(diamond-161739_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
   

}
h1{
    text-align: center;
    color: blue;
}
.connexion{
position: absolute;
top: 15%;
left: 35%;
transform: translate(-50,-50);
border: 1mm solid black;
border-radius: 20px;
padding: 80px;
background-color: rgba(30, 30, 31, 0.904);
}
.input{
    display: flex;
}
.indice{
    width: 1cm;
    text-align: center;
}
input{border: 1mm solid gray;
    border-radius: 10px;
padding: 10px;
background-color: transparent;}
.ins{
    color: beige;
       
}
.p{
    color: rgba(7, 7, 7, 0.979);
}
.acces{
    position: absolute;
    top: 87%;
    left: 45%;
    cursor: pointer;
}
.nom, .code{
    width: 6.15cm;
}
.buton{
    display: flex;
    width: 20cm;
    margin-top: 2.1%;

}
a :hover{
   background-color: rgba(8, 8, 8, 0.171);
   color: rgba(5, 219, 16, 0.596);
   
   

}
.u, .ut{
    /* margin: 0; */
    width: 7cm;
    border: none;
    cursor: pointer;
    font-size: 0.5cm;
}

.block{
    position: fixed;
    height: 4cm;
    width: 122cm;
    background-color: blueviolet;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.ut{
    background-color: rgb(173, 182, 95);
    font-size: 1cm;
    height: 2cm;
    border-radius: 50px;
    margin-top: -90%;
    
}
#maison, #produit, #monequipe, #moncompte, #ut{
    color: rgba(243, 246, 247, 0.801);
}
.achat{
    color: beige;
border: 0.5 px solid rgba(2, 252, 198, 0.089);



/* height: 4cm; */
margin-top: 10%;
/* background-color: rgba(0, 136, 29, 0.521); */
padding: 20px;
}
.ac1{
    border: 0px solid rgba(5, 5, 5, 0.959);
    display: flex;
    width: 35cm;
     text-align: center;
     height: 2cm;
     margin-top: -2%;
     background-color:  rgba(8, 8, 8, 0.171);
     border-radius: 10px;
     align-items: center;
     }
.ac11{
    border: 0,5px solid rgba(179, 245, 245, 0.897);
    
    font-size: 0.5cm;
    margin-top: 0;
    
    width: 15cm;
}
.ac12{
    border: 0px solid rgba(179, 245, 245, 0.692);
   
   font-size: 0.5cm;
   margin-top: 0;
    width: 15cm;
}
.px1{text-align: center;
margin-top: 1%;
font-size: 0.9cm;
}
.vip1{
    border: 0.5px solid rgba(6, 209, 131, 0.534);
    width: 35cm;
    height: 5.5cm;
    background-color: rgb(0, 41, 32);
    border-radius: 15px;
    margin-left: -1%;
}
h2{
    text-align: center;
    font-size: 1cm;

}
.achete1, .achete2, .achete3{
    position: relative;
    top: 9%;
    left: 45%;
    transform: translate(-50, -50);
    background-color: brown;
    border: 0px;
    cursor: pointer;
    
}
.achete a:hover{background-color: rgba(75, 170, 72, 0.678);
color: aqua;}
.im1{
    position: absolute;
    top: 21%;
    margin: 0%;
    width: 35cm;
    height: 6cm;
}
.diam{
    position: absolute;
    top: 9%;
    left: 0;
    margin: -1%;
    background-image: url(images.jfif);
    display: flex;
    width: 36cm;
    
}
.solde{margin-top: 0%;
    margin-left: 1%;
    border: none;
    height: 24cm;
    width: 34cm;
    background-color:  rgb(0, 41, 32);
    border-radius: 75px;
    display: flex;
    color: beige;
}
.sold{position: relative;
    width: 16cm;
    height: 6cm;
   background-color:rgba(4, 54, 161, 0.295);  
   top: 2%;
   left: 1%;
    border-radius: 200px;
}
.sold1{position: relative;
    width: 16cm;
    height: 6cm;
   background-color: rgba(4, 54, 161, 0.295);  
   top: 2%;
   left: 4.5%;
    border-radius: 200px;
    
}
.sold11{
    display: flex;
    font-size: 1.5cm;
    margin-left: 10%;
    margin-top: -8%;
}
.soldp{
    margin-top: 0cm;
    margin-left: 2cm;
    font-size: 1.5cm;
    display: block;
    
}
.soldee{
     margin-top: -1.5cm;
    
    font-size: 2cm;
    display: block;
    color: rgb(2, 253, 78);
    text-align: center;
}
.icon{
    position: fixed;
    left: 6%;
    color: aliceblue;
    font-size: 1.5cm;
    margin-top: -4%;
    margin-left: 1.2%;
}
.icon1{
    position: fixed;
    left: 6%;
    color: rgb(8, 8, 8);
    font-size: 1.5cm;
    margin-top: -4%;
    margin-left: 20.8%;
}
.icon2{
    position: fixed;
    left: 6%;
    color: rgb(8, 8, 8);
    font-size: 1.5cm;
    margin-top: -4%;
    margin-left: 60%;
}
.icon3{
    position: fixed;
    left: 6%;
    color: rgb(8, 8, 8);
    font-size: 1.5cm;
    margin-top: -4%;
    margin-left: 80%;
}
/* .inves{
    font-size: 1.5cm;
    margin-left: 10%;
    margin-top: 2%;
} */
.inves1{
    font-size: 0.8cm;
}
.ic1{
     font-size: 2cm;
    /* margin-top: 0%;
    margin-left: 50%; */
}
